.newsletter{
    background:skyblue;
    padding: 0;
    margin-top: 1rem;
}

.newsletter_img img{
    width:100%;
}

.newsletter__content h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5;
}

.newsletter__input input{
    border: none;
    font-size: 1rem;
    color:var(--heading-color)
}

.newsletter__input input:focus{
    outline: none;
}

.newsletter__btn{
    padding: 0.5rem 1.5rem;
    background-color: var(--secondary-color);
    border: none;
}