.login__img{
    width:60%;
    text-align:center;
    
}

.login__img img{
    width:70%;
    object-fit: contain;

}

.login__form{
    border-radius: 0 0.5rem 0.5rem 0;

    padding: 50px;
    background: var(--secondary-color);
    position: relative;

}

.login__container{
    border-radius: 0.5rem;
    box-shadow: gray 0px 4px 10px 0px;
    margin-top: 100px;

}

.login__container .user{
    width: 100px;
    height: 80px;
    position: absolute;
    top: -60px;
    left: 120px;

}

.login__form .user .img{
    width: 100%;
}

.login__form h2{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    padding-right: 1rem;
}

.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border:none;
    border-radius: 0.5rem;
}

.login__form input:focus{
    overflow: none;
}

.auth__btn{
    background-color: var(--heading-color);
    width: 100%;
    color: white;

}

.login__form p{
    font-size: 0.9rem;
    color: white;
    text-align: center;
}

.login__form p a{
    color: black;
}